.aj-header .ant-carousel .slick-slide {
    background-image: url('../images/a-bg.jpg');
    background-position: 96% 34%;
    height: 65vh;
}

.aj-header-text {
    color: #000;
    font-size: 60px;
    margin-top: 147px;
}

.base-aj {
    height: 1vh;
    background-color: #c8c5ae;
}

.base-aj-2 {
    height: 1vh;
    background-color: #4c5c39;
}

@media (max-width: 500px) {
    .aj-header-text {
    font-size: 30px;
    margin-top: 122px;
    }

    /* .aj-header .ant-carousel .slick-slide {
        height: 28vh;
    } */
}

.aj-bg {
    background-color: #318184;
    height: auto;
    padding-bottom: 30px;
    margin-left: 0!important;
    
}


.search-container {
    width: 300px;
    margin: 0 auto;
}

.searchBar.ant-input {
    background-color: rgb(232, 183, 151);
}

.ant-pagination-prev button, .ant-pagination-next button {
    background: transparent;
    color: #ffffff!important;
}


.aj-bg .ant-card {
    background-color: #e3e0e9; 
    border: 0;
}


.aj-bg .ant-pagination-item {
    background-color: #c2a3a4;
    border-color: #c2a3a4;
}

.aj-bg .ant-pagination-item a {
    color: #000000!important;
}

.aj-bg .ant-pagination-item-active {
    border-color: #c2a3a4!important;
}

.aj-bg .ant-pagination-item:focus, .ant-pagination-item:hover {
    border-color: #c2a3a4!important;
    background-color: #fff;
}

.aj-bg .ant-card {
    color: #000;
}

.aj-bg .ant-card p {
    font-size: 20px;
    color: #000;
}

.aj-bg .ant-btn {
    background-color: #c2a3a4;
}


.aj-bg .plyr--full-ui input[type=range] {
    color: #c2a3a4;
  }
  
  .aj-bg .plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
  
    background: #c2a3a4;
    color: #fff;
  
  }

  .aj-bg .ant-btn {
      background-color: #c2a3a4;
      color: #ffffff!important;
  }

  .aj-bg .ant-btn:hover, .aj-bg .ant-btn:focus {
    border-color: #c2a3a4;
    color: #000000!important;
    background: #ffffff;
  }

  .aj-bg  .link-btn {
	border: 0;
	background: transparent;
	color: #000000!important;
	padding: 0 0;
}

.aj-bg .link-btn:hover, .aj-bg .link-btn:focus{
	border: 0;
	background: transparent;
	color: white!important;
	padding: 0 0;
}

/* 
  .ant-pagination-prev.ant-btn {
      background-color: transparent;
  } */


  .aj-bg .ant-pagination-item a {
    color: #ffffff!important;
  }
  
  .aj-bg .ant-pagination-item-active a {
    color: #c2a3a4!important;
  }
  
  .aj-bg .ant-pagination-item-active {
    background: #fff!important;
    border-color: #c2a3a4!important;
  }
  
  .aj-bg .ant-pagination-item:focus a {
    color: #fff!important;
  }
  
  .aj-bg .ant-pagination-item:hover a {
    color: #c2a3a4!important;
  }
  
  .aj-bg .ant-pagination-item-active:hover a {
    color: #c2a3a4!important;
  }
  
  .aj-bg .ant-pagination-item-active:focus a {
    color: #c2a3a4!important;
  }
  
  .aj-bg .ant-pagination-item:focus, .ant-pagination-item:hover {
    border-color: #c2a3a4!important;
  }
  
  
  .aj-bg .ant-pagination-item {
    border-radius: 0;
    border: 1.5px solid #c2a3a4;
    border-radius: 2.5px;
    background-color: #c2a3a4;
    color: #ffffff;
    margin: 5px 7px;
  }
  
  .aj-bg .ant-pagination-item:hover {
    background-color: #fff;
    color: #c2a3a4;
  }