.by-header .ant-carousel  {
	background-image: url('https://media.giphy.com/media/JRDKlmXGqQ1zPtCQ6R/giphy.gif');
	background-position: 20% 50%;
	height: 65vh;
}

.bg-bayan {
	/* background-color: #347191; */
	background-color: #3066BE;
	padding-bottom: 30px;
}

.base-bayan {
	height: 1vh;
	background-color: #017292; 
}

.base-bayan-2 {
	height: 1vh;
	background-color: #95c1f2; 
}

.fill-height {
	height: 60vh;
}

@media (max-width: 500px) {
	.by-header .ant-carousel {
		height: 65vh;
		background-position: 20% 50%;
	}
}
 
.header-text {
	font-size: 55px;
    margin-top: 107px;
}

@media (max-width: 500px) {
	.fill-height {
		height: 70vh;
	}
}

@media (min-width: 550px) {
	.image-container .slide3 {
		width: 40%!important;
	}
}

.bayan-btn:first {
	margin-top: 20px;
}

.bayan-btn {
	margin-top: 40px;
}

.btn-center {
	text-align: center;
}


.link-btn:hover, .link-btn:focus {
	border: 0;
	background: transparent;
	color: white!important;
}

.ant-pagination-next {
	margin-left: 8px;
}

table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

.bayan-btn.ant-btn {
	box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.15);
	background: transparent;
	color: #ffffff!important;
	width: 222px;
}

.row-center {
	text-align: center;
}