.bk-header .ant-carousel {
    background-image: url('../images/bk.jpg');
    /* background-image: url('../images/bk-bg4.jpg'); */
    /* background-image: url(https://images.unsplash.com/photo-1482686115713-0fbcaced6e28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1947&q=80); */
    background-position: 40% 54%;
    /* background-position: 40% 60%; */
    /* background-position: 40% 91%; */
    height: 80vh;
}

.bk-header-text {
    color: #000;
    font-size: 60px;
    margin-top: 128px;
}

.books-container {
    width: auto!important;
    height: 80vh;
}

.helper {
    display: inline-block;
    height: 103%;
    vertical-align: middle;
}

.book-img {
    width: 100%;
}

@media (max-width: 786px) {
    .bk-header .ant-carousel {
        height: 80vh;
        background-position: 50% 54%;
    }
}

@media (max-width: 500px) {
    .bk-header-text {
    font-size: 60px;
    margin-top: 100px;
    }

    .bk-header .ant-carousel {
        height: 70vh;
        background-position: 100% 20%;
    }

    .books-container {
        height: 70vh;
    }

    .book-img {
        width: 70%;
    }

    .helper {
        height: 70vh;
    }
}


.image-container img{
    vertical-align: middle;
}

/* 
@media (min-width: 375px) and (max-width: 375px) { 
    .bk-header .ant-carousel {
        background-position: 30% 20%;
    }
 }

 @media (min-width: 400px) and (max-width: 415px) { 
    .bk-header .ant-carousel {
        background-position: 23% 20%;
    }
 }

 @media (min-width: 411px) and (max-width: 415px) { 
    .bk-header .ant-carousel {
        background-position: 23% 20%;
    }
 }

 @media (max-width: 374px) {
    .bk-header .ant-carousel {
        background-position: 23% 20%;
    }
 } */

.base-books {
    height: 1vh;
    background-color: #c5a781;
}

.base-books-2 {
    height: 1vh;
    background-color: #b03327;
}

.bk-background {
    background-color: #ecc896;
    height: 100vh;
}

.text-center {
    text-align: center;
}
