.base-home {
  height: 1vh;
  background-color: rgb(218, 227, 234);
}

.bg-home {
  background-color: #142c98;
}

.live-player {
  width: 100%;
  height: 180px;
}

@media (max-width: 500px) {
  .live-player {
    width: 100%;
  }
} 


.user_info h1 a {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}

.ant-btn {
  background-color: rgb(213, 183, 148);
  color: #000000!important;
  font-size: 15px;
}

a {
  color: #ffffff!important;
}

.white-text {
  color: #ffffff;
}

.ant-carousel .slick-slide {
    text-align: center;
    /*background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), center center / contain no-repeat;*/
    /*background-color: #CAD2C5; */
    /*background-color: #fcd669;*/
    /*background-color: #87bbfd;*/
    background-image: url('../images/hp.jpg');
    background-size: cover;
    background-position: 18% 100%;
    overflow: hidden;
    width: 100%;
    height: 40vh;
  }

  .hm-bg .ant-carousel .slick-slide {
    height: 65vh;
  }

  
  /* .hm-bg .ant-carousel .slick-slide img {
    background-position: 90% 90%;
  } */

  .hm-bg .image-container {
    width: auto!important;
    height: 65vh;
  }

  .helper {
    display: inline-block;
    height: 83%;
    vertical-align: middle;
  }

  @media (max-width: 550px) {
    .helper {
    height: 71%;
    }
  }

  @media (min-width: 1850px) {
    .helper {
      height: 75%;
    }
  }

  .image-container img{
    vertical-align: middle;
  }



  @media (min-width: 550px) {
    .slide-img {
      width: 80%;
    }
  }

  @media (max-width: 550px) {
    .slide-img {
      width: 60%;
    }
  }


  .youtube-text {
    color: red;
    font-weight: 700;
  }


  /* @media (max-width: 500px) {
    .image-container img{
    margin-top: 35px;
    width: 80%;
  }
  }

  @media (max-width: 375px) {
    .image-container img{
    margin-top: 50px;
  }
  }

  @media (max-width: 360px) {
    .image-container img{
    margin-top: 30px;
  }
  } */


  .bg-color {
    /*background-color: #6772e5;*/
    background-color: #142C98;
  }

  /* .ant-carousel .slick-slider {
    top: -9px;
  } */

  .text-center {
    text-align: center;
  }

  /* .ant-carousel .slick-slide h1 {
    color: rgb(242, 227, 180)!important;
    padding-top: 35vh;
  } */

  .ant-carousel .slick-slide img {
    display: inherit;
  }

  .slider {
    width: 100%;

  }

  .header {
    background: rgba(248, 223, 220, 0.7);
    padding: 95px 30px 95px 30px;
  }

  .live-text a {
    font-size: 11px;
    display: block;
  }

  @media (max-width: 768px) {
    .live-broadcast {
      margin-top: 50px;
    }
  }

  .display-none {
    display: none;
  }

  
/* Button CSS */
.btn-center .ant-col-xs-24 {
  text-align: center;
}


.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-20 {
margin-top: 20px;
}

.mrl-0 {
margin-left: 0!important;
margin-right: 0!important;
}

.mt-45 {
margin-top: 45px;
}

.mt-55 {
margin-top: 55px;
}

.pd-30 {
padding: 30px;
}

.pd-10 {
  padding: 10px;
}

.pd-20 {
padding: 20px;
}

.pd-60 {
padding: 60px;
}

.mb-30 {
margin-bottom: 30px;
}

.mb-55 {
margin-bottom: 55px;
}

.mb-100 {
margin-bottom: 100px;
}

.mt-100 { 
margin-top: 100px;
}

.live-broadcast {
text-align: center;
}