.mj-header .ant-carousel {
	background-image: url('../images/ct.jpg');
    background-position: 53% 80%;
    height: 65vh;
}


.base-majlis {
    height: 1vh;
    background-color: #0e7a7c;
}


/* #f2c8ce Pink color Tdev */ 

.mj-header-text {
    color: #fafafa;
    margin-top: 140px;
    font-size: 60px;
}

  @media (max-width: 500px) {
	.mj-header .ant-carousel {
        height: 65vh;
        background-position: 53% 80%;
    }
    .mj-header-text {
        margin-top: 63%;
    }
}
/* #458e95 */

.mj-background {
    background-color: #025380;
    height: auto;
}

@media (max-width: 550px) {
    .mj-background {
        height: 100%;
    }
}