.od-header .ant-carousel .slick-slide {
    background-image: url('../images/od-bg.jpg');
    background-position: 90% 59%;
    height: 65vh;
}

.od-header-text {
    color: #fff;
    font-size: 60px;
    margin-top: 147px;
}

.base-od {
    height: 1vh;
    background-color: #076e75;
}

/* .base-od-2 {
    height: 1vh;
    background-color: #ed9f6f;
} */

@media (max-width: 500px) {
    .od-header-text {
    font-size: 30px;
    margin-top: 122px;
    }

    .od-header .ant-carousel .slick-slide {
        height: 65vh;
    }
}

.od-bg {
    background-color: #4e303a;
    /* background-color: rgb(185, 109, 229); */
    height: auto;
    padding-bottom: 30px;
    margin-left: 0!important;
}

.search-container {
    width: 300px;
    margin: 0 auto;
}

.od-bg .searchBar.ant-input {
    background-color: #71496e;
}

.od-bg .searchBar.ant-input::placeholder {
    color: #ffffff;
}

.od-bg .searchBar.ant-input:focus {
    border-color: #71496e;
}

.ant-pagination-prev button, .ant-pagination-next button {
    background: transparent;
    color: #ffffff!important;
}


.od-bg .ant-card {
    background-color: #71496e; 
    border: 0;
}


.od-bg .ant-pagination-item {
    background-color: #71496e!important;
    border-color: #71496e;
    border: 1px solid #71496e;
}

.od-bg .ant-pagination-item a {
    color: #000000!important;
}

.od-bg .ant-pagination-item-active {
    border-color: #4e303a!important;
}

.od-bg .ant-pagination-item:focus, .ant-pagination-item:hover {
    border-color: #4e303a!important;
    background-color: #fff;
}

.od-bg .ant-card {
    color: #ffffff;
}

.od-bg .ant-card p {
    font-size: 20px;
    color: #ffffff;
}
 
.od-bg .ant-btn {
    background-color: #4e303a;
    color: #ffffff!important;
}

.od-bg .plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
    background: #4e303a;
    color: #000000;
}

.od-bg .plyr--full-ui input[type=range] {
    color: #4e303a;
}